h6, .navv, .btn, #chartId, .toast-header {
    /* font-family: "Livvic", sans-serif; */
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;

}

.img-fluid {
    width: 5rem;
    height: auto;
    transition: 0.5s;
}

.img-fluid:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.nav-link {
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

.form-control:focus{
    background-color: rgb(240, 237, 237);
    color:rgb(96, 98, 100);
    box-shadow: 0 0 10px rgb(73, 83, 94);
}
.nav-link::after {
    content: " ";
    opacity: 0;
    height: 2px;
    width: 100%;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.55);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link:hover {
    text-shadow: 0 0 15px whitesmoke;
    transition: 0.3s;
    transform: scale(1.05);
}

.col-sm-2 {
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col-sm-4 {
    background-color: whitesmoke;
}

.col-md-4 {
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-outline-secondary:hover {
    box-shadow: 0 0 10px lightslategrey;
}

.btn-secondary {
    border-radius: 5px;
}
.btn-secondary:hover {
    box-shadow: 0 0 10px lightslategrey;
}

.row-cols-md-4 {
    background-color: whitesmoke;
    border-radius: 10px;
}


.fa-sun:hover {
    animation: animation 0.4s linear;
    color: aliceblue;
}

.fa-trophy:hover {
    animation: animation 0.4s linear;
    color: aliceblue;
}

.fa-clock:hover {
    animation: animation 0.4s linear;
    color: aliceblue;
}

.fa-cog:hover {
    animation: animation 0.4s linear;
    color: rgb(128, 128, 128);
}

@keyframes animation {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* change gradients here */

:root{
     --grad1 : black;
     --grad2: darkgray;
     --grad3: rgb(56, 58, 63);
     --grad4: rgb(128, 101, 101);
     --grad5: rgb(207, 204, 204);
     --grad6: white;
     --grad7: rgb(228, 228, 228);
}
.cont1, .cont4 {
     background: linear-gradient(45deg, var(--grad1), var(--grad2), var(--grad5), var(--grad7));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
body{

    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}
.dvcenter{
    background: linear-gradient(45deg, var(--grad2), var(--grad6), var(--grad5));
    animation: color 12s ease-in-out infinite;
  
}

.cont3 {
    background: linear-gradient(45deg, var(--grad6), var(--grad7), var(--grad5));
    animation: color 12s ease-in-out infinite;
}


#particles-js{
    height:100px;
    width: 100%;
    z-index: -1;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
