.body {
  /* font-family: "Livvic", sans-serif; */
  font-family: "Orbitron", sans-serif;
  background: url(pictures/bg1.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

.web-name {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 90px;
  color: rgb(128, 128, 128);
}

.par-1 {
  font-size: 4.3rem;
  line-height: 4.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.par-2-span {
  color: rgb(128, 128, 128);
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.image-container {
  max-width: 100%;
  position: relative;
  height: auto;
  
  
}
.image-container img {
  width: 40rem;
  margin: 0;
  height: 72vh;
  
}
  
@media (max-width: 500px) {
  
  .web-name {
      font-size: 1.8rem;
  }

  .par-1 {
     font-size: 3.5rem; 
     line-height: 3.3rem;
  }

  .image-container img {
      width: 32rem;
      margin-top: 30px;
  }

  .col-md-6{
    margin-left: 150px;
  }
}

