/* VARIABLES HERE */
:root {
    --bgr-color:rgb(4, 190, 254);

}
.spinner_wrapper{
background-color: var(--bgr-color);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
display: flex;
justify-content: center;
align-items: center;
transition: all 2s;

}

.spinner-border{
    height: 3rem;
    width: 3rem;
   
}